body 
{
    color: #00688B;
    background-color: #8DEEEE;
    font: 18px/1.5 Helvetica, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

.styled-button {
	color:#FFF;
	background-color:#00BFFF;
	/*border-radius:5px;*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
}

#input_spreadsheet {
    display: none;
}

#logfileurl {
    display: none;
}

.week {
    background-color: #00BFFF;
    width: 540px;
    margin: 10px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius:5px;
}

table {
    background-color: #F0F8FF;
	border-spacing:0px;
	border-collapse: collapse;
	width: 500px;
    margin: 20px;
}

thead {
	/*background-color: #C6E2FF;*/
    background-color: #00BFFF;
    color:#FFF;
    font-family:'Helvetica Neue',Arial,sans-serif;
    font-size:16px;
	font-weight:700;
	border-bottom: 2px solid #00BFFF;
}

tr
{
    border-bottom: 1px solid #BFEFFF;
}

.hours tr:hover {
background-color:#C6E2FF;
}

td
{
	padding: 8px;
}

th
{
	padding: 8px;
}

