<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <link rel="stylesheet" type="text/css" href="content/TimesheetStyle.css"/>
</head>

@model TimesheetWeb.ViewOutput

<h1>Timesheet: Estimated Hours</h1>
<h2>Month: @Model.month</h2>
<p>Hours</p>

@foreach (var week in Model.weeks)
{
    <div class="week">
    <table>
        <thead>
            <tr><td>Date</td><td>Start</td><td>End</td></tr>
        </thead>
        <tbody class="hours">
            @foreach (var hour in week)
            {
                <tr><td>@hour.date</td><td>@hour.start</td><td>@hour.end</td></tr>
            }
        </tbody>
    </table>
    </div>
}
